@import "tailwindcss";

:root {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

body {
  margin: 0;
  background: #f6f7fb;
}

:root[data-theme="dark"] body {
  background: #050505;
}
